<!DOCTYPE html>
<html>
<body>
<script type="text/javascript" src="https://rawgit.com/rwaldron/8720084/raw/699692986f1aedc64614c746bf2eec5997b1cdfe/jquery.js"></script>
<form method="post" action="/usePoint">
  <input name="POINT" value="">
  <button type="submit" >포인트 사용</button>

  <p>이메일 : <%= EMAIL %></p>
  <p>포인트 : <%= POINT %></p>
</form>


</body>
</html>

